html, body{
    height: 100vh;
    min-height: 100vh;
    margin: auto;
    padding: 0px;
    background-color: black;;
    text-align: center;
}


.nav-buttons{
    color:wheat;
}

.sub-button{
    font-family: 'Quicksand', sans-serif;
    font-size: 9px;
    border-radius: 1px;
}


.header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-bottom: 80px;
}

.container {
    display: flex;
    justify-content:space-around;
    align-content: center;
    margin-bottom: 10%;
}

.background {
  background: url(../images/iStock-917227876.png) no-repeat center center fixed; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width:100%;
  height:100%;
  padding:2vmin;
  margin:auto;
  background-color:black;
  position: relative;
}

.title{
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 0%;
}

.front {
    height: 300px !important;
    width: 200px !important;
    position: absolute;
    transform: translateX(0px);
    transition: all .5s;


}
.wrapper{
    height: 300px !important;
    width: 200px !important;
    background-color:  rgb(9, 71, 68);
    border: 1px solid rgb(70, 69, 69);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(0px);
    transition: all .5s;
    padding: 0px 20px 0px 20px;
    text-align: center;
}

.home-wrapper{
    height: 300px !important;
    width: 200px !important;
    background-color:  rgb(9, 71, 68);
    border: 1px solid rgb(70, 69, 69);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(0px);
    transition: all .5s;
    padding: 0px 20px 0px 20px;
}

.back {
    height: 400px !important;
    width: 200px !important;
    position: absolute;
    transform: translateX(0px) ;
    z-index: 99;
    padding: 10px;
    transition: all .5s;
    background-color:  rgb(167, 167, 167);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* overflow: auto;
    overflow-wrap: break-word;
    word-wrap: break-word; */
}

.home_input_field{
   justify-content: center;
    width: 100%;
    height: 28px;
    font-size: 10px;

}

.input_field{
   justify-content: center;
    width: 66%;
    height: 28px;
    font-size: 10px;

}
#side1{
    height: 300px !important;
    width: 200px !important;
    position: absolute;
    transform: translateX(0px) scale(1.25);
    z-index: 99;
    transition: all .5s;

}

#side2{
    height: 300px;
    width: 200px;
    position: absolute;
    transform: translateX(-225px);
    z-index: 9;
    transition: all .5s;
    
}

#side3{
    height: 300px;
    width: 200px;
    position: absolute;
    transform: translateX(225px);
    z-index: 9;
  transition: all .5s;
    }

#pre{
    display: flex;
    font-size: 75px;
    color:white;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    font-family: 'Quicksand', sans-serif;

}
#pre:hover{
    cursor: pointer;
}

.profile-pic{
    height:100px;
    width: 100px;
    border-radius: 100%;
}

.pro-headerx{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: baseline;
    margin: auto;
    margin-top: 2%;
    
}

#nex{
    font-size: 75px;
    color:white;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    font-family: 'Quicksand', sans-serif;
    float:right;
  
}

#nex:hover{
    cursor: pointer;
}


.nav-wrapper{
      display: flex;
    justify-content: space-between;
    align-content:center ;
    
} 

.login-wrapper{
   justify-content:center;
align-items:flex-end;
} 


.donut-box{
    display: flex;
    justify-content:center;
align-items:center;


}

.donut{
    position:absolute;
    align-content: center;
    top:87px;
    width: 200px;
}

.inside{
    display: flex;
    margin-top: 20px;
    color:white;
    justify-content: center;
    font-size: 9px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    
}


.inside-value{
    display: flex;
    position:absolute;
    color: white;
    bottom: 73px;
    font-size: 36px;
    font-family: 'Quicksand', sans-serif;

}

.inside-title{
    display: flex;
    position: absolute;
    align-content:center ;
    justify-content:center;
    color: white;
    bottom:68px;
    font-size: 9px;
    font-family: 'Quicksand', sans-serif;
}

.text1{
    color:wheat !important;
    font-size: 12px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    
}

.text2{
    color:white;
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    
}

.text3{
    display: flex;
    color:white;
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Abel', sans-serif;
    justify-content:center;
    align-items:flex-end;
    
}

.text4{
    color:rgb(53, 53, 53) !important;
    font-size: 12px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    
}
.sign{
    color:rgb(167, 167, 167);
    position: absolute;
    top: 48px;
    left: 82px;
    font-size:14px;
    font-family: 'Abel', sans-serif;
    
}

.sign2{
    color:wheat;
    font-size:14px;
    font-family: 'Abel', sans-serif;
    margin-top: 10px;

}

.wrapper2{
    height: 300px !important;
    width: 200px !important;
    background-color:  rgb(48, 58, 53);
    border: 1px solid rgb(70, 69, 69);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(0px);
    transition: all .5s;
    padding: 0px 20px 0px 20px;
}

.card-headerx{
    display:flex;
    justify-content:space-around;
    align-content: baseline;
    margin: auto;
    margin-top: 2%;
    
}
.date{
    color:white;
    font-size: 23px;
    font-family: 'DM Serif Text', serif;
    text-align: center;

}


.welcome{
    color:white;
    font-size: 24px;
    font-family: 'DM Serif Text', serif;
    text-align: center;
    margin-top: 10px;

}

.date2{
    color:gray;
    font-size: 23px;
    font-family: 'DM Serif Text', serif;
  
}

.date3{
    color:gray;
    font-size: 23px;
    font-family: 'DM Serif Text', serif;
    margin-top: 10px;
}

.day{
    display:flex;
    margin-top: 10px;
    color:rgb(129, 128, 128);
    font-size: 9px;
    font-family: 'Abel', sans-serif;
    
}
.weekday{
     display:flex;
    margin-top: 10px;
    color:rgb(129, 128, 128);
    font-size: 9px;
    font-family: 'Abel', sans-serif;
}

.search{
    color:rgb(48, 47, 47);
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}


.foodItems{
    font-size: 10px;
    margin-top: 5px;
    max-height: 185px;
    overflow: scroll;
}
.returnedFoodItems{
    padding: 2px 0px;
}

.returnedFoodItems:hover{
    cursor: pointer;
}

.selectedFoodItems{
    padding: 2px 0px;
}

.foodItems p{
    margin: 0px;
}

.foodItems hr{
    margin: 5px;
}


/* font-family: 'Quicksand', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'DM Serif Text', serif;
*/

.rotate-in-center {
	-webkit-animation: rotate-in-center 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
	        animation: rotate-in-center 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}

.rotate-in-2-cw {
	-webkit-animation: rotate-in-2-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-11-1 0:41:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-2-cw
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-1 0:58:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}

@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-2 20:28:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

/* //////////////////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {

html, body{
    height: 100vh;
    min-height: 100vh;
    margin: auto;
    padding: 0px;
    background-color:  black;
}

.nav-buttons{
    color:wheat;
}

.sub-button{
    font-family: 'Quicksand', sans-serif;
    font-size: 9px;
    border-radius: 1px;
}


.header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-bottom: 100px;
}

.container {
    display: flex;
    justify-content:space-around;
    align-content: center;
    margin-bottom: 10%;
}

.background {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width:100%;
  height:100%;
  padding:2vmin;
  margin:auto;
  background-color: black;
  position: relative;
}

.title{
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 0%;
}

.front {
    height: 300px !important;
    width: 200px !important;
    position: absolute;
    transform: translateX(0px);
    transition: all .5s;


}
.wrapper{
    height: 300px !important;
    width: 200px !important;
    background-color:  rgb(9, 71, 68);
    border: 1px solid rgb(70, 69, 69);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(0px);
    transition: all .5s;
    padding: 0px 20px 0px 20px;
}

.home-wrapper{
    height: 300px !important;
    width: 200px !important;
    background-color:  rgb(9, 71, 68);
    border: 1px solid rgb(70, 69, 69);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(0px);
    transition: all .5s;
    padding: 0px 20px 0px 20px;
}

.back {
    height: 400px !important;
    width: 200px !important;
    position: absolute;
    transform: translateX(0px) ;
    z-index: 99;
    padding: 10px;
    transition: all .5s;
    background-color:  rgb(167, 167, 167);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
  

}

#input{
   justify-content: center;
    width: 66%;
    height: 28px;
      font-size: 10px;

}
#side1{
    height: 300px !important;
    width: 200px !important;
    position: absolute;
    transform: translateX(0px) scale(1.25);
    z-index: 99;
    transition: all .5s;

}

#side2{
    height: 300px;
    width: 200px;
    position: absolute;
    transform: translateX(-50px);
    z-index: 9;
    transition: all .5s;
    
}

#side3{
    height: 300px;
    width: 200px;
    position: absolute;
    transform: translateX(50px);
    z-index: 9;
  transition: all .5s;
    }

#pre{
    display: flex;
    font-size: 75px;
    color:white;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    font-family: 'Quicksand', sans-serif;

}
#pre:hover{
    cursor: pointer;
}

#nex{
    font-size: 75px;
    color:white;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    font-family: 'Quicksand', sans-serif;
    float:right;
  
}

#nex:hover{
    cursor: pointer;
}


.nav-wrapper{
      display: flex;
    justify-content: space-between;
    align-content:center ;
    
} 

.donut-box{
    display: flex;
    justify-content:center;
align-items:center;


}

.donut{
    position:absolute;
    align-content: center;
    top:87px;
    width: 200px;
}

.inside{
    display: flex;
    margin-top: 20px;
    color:white;
    justify-content: center;
    font-size: 9px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    
}


.inside-value{
    display: flex;
    position:absolute;
    color: white;
    bottom: 80px;
    font-size: 36px;
    font-family: 'Quicksand', sans-serif;

}

.inside-title{
    display: flex;
    position: absolute;
    align-content:center ;
    justify-content:center;
    color: white;
    bottom:78px;
    font-size: 9px;
    font-family: 'Quicksand', sans-serif;
}

.text2{
    color:white;
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    
}
.sign{
    color:rgb(167, 167, 167);
    position: absolute;
    top: 48px;
    left: 82px;
    font-size:14px;
    font-family: 'Abel', sans-serif;
    
}

.wrapper2{
    height: 300px !important;
    width: 200px !important;
    background-color:  rgb(48, 58, 53);
    border: 1px solid rgb(70, 69, 69);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(0px);
    transition: all .5s;
    padding: 0px 20px 0px 20px;
}

.card-headerx{
    display:flex;
    justify-content:space-around;
    align-content: baseline;
    margin: auto;
    margin-top: 2%;
    
}
.date{
    color:white;
    font-size: 23px;
    font-family: 'DM Serif Text', serif;
    text-align: center;

}

.date2{
    color:gray;
    font-size: 23px;
    font-family: 'DM Serif Text', serif;
}

.day{
    display:flex;
    margin-top: 10px;
    color:rgb(129, 128, 128);
    font-size: 9px;
    font-family: 'Abel', sans-serif;
    
}
.weekday{
     display:flex;
    margin-top: 10px;
    color:rgb(129, 128, 128);
    font-size: 9px;
    font-family: 'Abel', sans-serif;
}

.search{
    color:rgb(48, 47, 47);
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

}
