body{
    margin: 0px;
    padding: 0px;
    background-color:  rgb(1, 49, 47);;
}
#main{
    display: flex;
    margin-top: 20%;
    justify-content:center;
}
#side1{
    height: 300px;
    width: 200px;
    position: absolute;
    transform: translateX(0px) scale(1.25);
    z-index: 99;
    border: 1px solid gray;
    transition: all .5s;
    background-color:  rgb(1, 49, 47);
   
}

.container{
    margin-top:0;
}

.background {
  background: url(assets/css/iStock-917227876.png) no-repeat center center fixed; 
  background-size: cover;
  width:100vw;
  height:100vh;
  padding:2vmin;
  margin:auto;
  background-color: black;
  position: relative;
}

.title{
    margin: 0px 0px 0px 0px;
    font-size: 15vh;
    font-family: 'Comfortaa', cursive;
    color: wheat;
}


#side2{
    height: 300px;
    width: 200px;
    position: absolute;
    transform: translateX(-150px);
    z-index: 9;
    border: 1px solid gray;
    transition: all .5s;
    background-color:  rgb(48, 58, 53);
    font-family: 'DM Serif Text', serif;
    
}

#side3{
    height: 300px;
    width: 200px;
    position: absolute;
    transform: translateX(150px);
    z-index: 9;
    border: 1px solid gray;
    transition: all .5s;
    background-color:  rgb(48, 58, 53);
    font-family: 'DM Serif Text', serif; 
}
#pre{
    height: 30px;
    width: 100px;
    border: 1px solid gray;
    font-family: arial;
    font-size: 15px;
    color:gray;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.5);

}
#pre:hover{
    cursor: pointer;
}
#nex{
    height: 30px;
    width: 100px;
    border: 1px solid gray;
    font-family: arial;
    font-size: 15px;
    color:gray;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
  
}
#nex:hover{
    cursor: pointer;
}

.wrapper{
    display: flex;
    justify-content:center;
    background-color: blue;
}


.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-content:center ;

}

.donut{
    display: flex;
    align-content:center ;
    position: relative;;
    top:27%;
    

}

.inside-title{
    position: absolute;
    align-content:center ;
    bottom: 26%;
    left: 35%;
    color: white;
    font-size: 1.2vh;
    font-family: 'Montserrat', sans-serif;
}

.inside-value{
    position: absolute;
    margin:auto;
    bottom: 30%;
    color: white;
    font-size: 5vh;
    left: 30%;
    right:30%;
    text-align:center;
    font-family: 'Quicksand', sans-serif;
}

.text{
    color:white;
    position: absolute;
    bottom: 5%;
    left: 44%;
    font-size: 1.5vh;
 font-family: 'Abel', sans-serif;
    
}


.day{
    color:white;
    position: absolute;
    top: 6%;
    left: 10%;
    font-size: 1.2vh;
 font-family: 'Abel', sans-serif;
    
}
.weekday{
    color:white;
    position: absolute;
    top: 6%;
    right: 10%;
    font-size: 1.2vh;
 font-family: 'Abel', sans-serif;
    
}

.inside{
    color:white;
    position: absolute;
    font-size: 1.2vh;
    width: 70%;
    left: 15%;
    top: 25%;
       font-family: 'Quicksand', sans-serif;
    
}
.sign{
    color:white;
    position: absolute;
    top: 15%;
    left: 40%;
    font-size:2vh;
    font-family: 'Abel', sans-serif;
    
}

.date{
    color:white;
    position: absolute;
    Top: 3%;
    left: 37%;
    font-size:3.3vh;
    text-align: center;
    
}

.date2{
    color:white;
    position: absolute;
    Top: 2%;
    left: 26%;
    font-size:3.3vh;
    text-align: center;
    
}


/* font-family: 'Libre Baskerville', serif;


font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Yeseva One', cursive;
*/


.rotate-in-2-cw {
	-webkit-animation: rotate-in-2-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flip-horizontal-bottom {
	/* -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-11-1 0:41:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-2-cw
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-1 0:58:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
